<form class="example-form" [formGroup]='formName'>
<div formArrayName="controllerArray" >
	<mat-card class="example-card" *ngFor="let item of formName.controls.controllerArray.controls; let i=index" [formGroupName]="i">



		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Link {{i+1}}</mat-card-title>
			<mat-card-subtitle></mat-card-subtitle>
      <button mat-button (click)='removeInput(i)'>Remove</button>

		</mat-card-header>


		<mat-card-content>

			<mat-form-field class="example-full-width">
				<mat-label>Link Name</mat-label>
				<input matInput placeholder="Ex. Material with link" formControlName="linkName" #box (keyup)="0" value="">
      </mat-form-field>
				<br>

				<mat-form-field class="example-full-width">
					<mat-label>Link</mat-label>
					<input matInput placeholder="Ex. https://emaua.com"  formControlName="linkAddress" ngModel  type="url"
          pattern="https?://.+"   #box2 (keyup)="0" value="http://" required>
      </mat-form-field>
      <br>
      <mat-form-field  class="example-full-width">
        	<mat-label>Link Description</mat-label>
          <textarea matInput placeholder="Link Description" formControlName="linkDescription" #box3 ></textarea>
      </mat-form-field>

					<br>

					<p> <span style='font-weight: 900;'> Final Link: </span>
						<a href='{{box2.value}}'> {{box.value}} </a>
          
					</p>
          <p>
                <span> {{box3.value}} </span>
          </p>
		</mat-card-content>

  

	</mat-card>
  

</div>

  <button mat-button (click)='sendMessage()'>Save</button>
	<button mat-button (click)='addInput()'>Add New Link</button>

</form>