 <h3>Helper links</h3>
  <mat-divider></mat-divider>
  <mat-nav-list style='padding-left:20px;' >
    <a mat-list-item [href]="link"
      class="example-user-input"
      matTooltip="Info about the action"
      [matTooltipPosition]="right"
       
      color="primary"
        matBadge="{{i+1}}" matBadgePosition="before" matBadgeColor="accent"
       target="_blank"
       *ngFor="let link of simpleLinks; let i = index"> {{ link }} </a>
  </mat-nav-list>
  <mat-divider></mat-divider>

